body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
}
.button-link{
    font-size: 13px;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    margin: 2px 10px;
    padding: 3px 6px;
}
h1{
    font-size: 50px;
    color: rgb(73, 72, 72);
}
.header{
    width: 100%;
    display: flex;
    margin-top: 70px;
}
.half-width{
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
}
.half-width img{
    width: 100%
}
.tomato-color{
    color: darkorange;
}
.extra-margin{
    margin-top: 120px;
}
.half-width p{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    margin-bottom: 80px;
}
.half-width a{
    text-decoration: none;
    font-weight: 700;
    background-image:linear-gradient(tomato, orange);
    border-radius: 30px;
    padding: 20px 40px;
    margin-top: 30px;
    margin-left: 30px;
}




.banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.half-width-section{
    width: 50%;
    height: 400px;
    padding: 20px;
    margin-left: 50px;
    justify-content: center;
}



