body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
}
.button-link{
    font-size: 13px;
    text-decoration: none;
    background-color: black;
    border-radius: 10px;
    margin: 2px 10px;
    padding: 3px 6px;
}
h1{
    font-size: 50px;
    color: rgb(73, 72, 72);
}
.header{
    width: 100%;
    display: flex;
    margin-top: 70px;
}
.half-width{
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
    position: relative;
}
.half-width img{
    width: 100%;
    height: 144;
}
.tomato-color{
    color: darkorange;
}
.extra-margin{
    margin-top: 120px;
}
.half-width p{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    margin-bottom: 80px;
}
.button-style{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image:linear-gradient(orange, tomato);
    border-radius: 30px;
    padding: 20px 45px;
    margin-top: 30px;
    margin-left: 30px;
}
.banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 50px;
}
.half-width-section{
    width: 50%;
}
.half-width-section img{
    width: 400px;
    height: 520px;
    margin-top: 80px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.text-style{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 30px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2;
}
.half-width-section p{
    margin-bottom: 100px;
}
.font-head{
    font-size: 35px;
    color: gray;
}
.font-style-paragraph{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.half-div{
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
}
.flexible-container{
    display: flex;
    width: 100%;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.img-size{
    max-height: 100%;
    max-width: 100%;
}
.experience-area{
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 10px 10px 40px gray;
    width: 30%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 20px;
    margin: 20px;
}
#footer-style{
    height: 280px;
    background-color: rgb(19, 18, 18);
    margin-bottom: 0%;
    text-align: center;
}
footer h2{
    color: gray;
}
footer p{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}
footer h2{
    font-size: 30px;
    margin-top: 30px;
    padding-top: 35px;
    line-height: 2;
}
